.adminLayout {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
  overflow-y: hidden;


}

/* LEFT SIDEBAR */
.admin-left {
  width: 260px;
  background: white;
  color: white;
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 20px;
   position: sticky;
  
}

.admin-profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.admin-avatar {
  width: 48px;
  height: 48px;
  background: #4c6ef5;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.admin-profile h4 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.admin-profile h5 {
  margin: 0;
  color: black;
  font-size: 14px;
}

.admin-menu {
  flex-grow: 1;
  display: flex;
    flex-direction: column;
    gap:1rem;
}

.admin-logout button {
  width: 100%;
  padding: 10px;
  background: #ff4d4f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.admin-logout button:hover {
  background: #ff6b6b;
}

/* RIGHT SIDE */
.admin-right {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto; 
}
