.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1faee;
}

.signup-box {
  width: 350px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
  color: #1d3557;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #a8dadc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-box button {
  width: 100%;
  padding: 12px;
  background: #e63946;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-box button:hover {
  background: #d62839;
}
