.home-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg, #1d3557, #457b9d);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.home-content {
  max-width: 600px;
}

.home-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.home-btn {
  background: #e63946;
  padding: 10px 30px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.home-btn:hover {
  background: #d62839;
}
